<article class="container">
  <div class="row">
    {{!-- <div class="col-2">
      <img class="w-100 rounded-circle" src="{{user.avatar}}" />
    </div> --}}

    <div class="col-10">
      <img src="{{user.avatar}}" width="100" class="mr-2 rounded-circle"/>
      <h1>{{user.name}}</h1>
      <p><strong>Bio:</strong> {{user.bio}}</p>
      <p><strong>Email:</strong> {{user.email}}</p>

      
      {{#ifEquals currentUser.email user.email}}
        <div>
          <a class="btn btn-secondary" href="/users/{{currentUser._id}}/edit">
            <i class="fa fa-edit mr-2"></i>
            Edit
          </a>

          <form action="/users/{{currentUser._id}}/delete" method="POST" class="mt-2">
            <button type="submit" class="btn btn-danger">
              <i class="fa fa-trash mr-2"></i>
              Remove account
            </button>
          </form>
        </div>
      {{/ifEquals}}
    </div>
  </div>

  

  
</article>