<article class="container form">
  <h1>Nuevo usuario</h1>

  <form action="/signup" method="POST">
    <div class="form-group">
      {{!-- {{#if (isStablishment type)}}
        {{type}}
      {{/if}} --}}

      <label for="type">Tipo</label>
      <input name="type" type="text" value="{{type}}" class="form-control {{#if error.type }}is-invalid{{/if}}"
        id="type" required>
    </div>
<div class="form-group">
      <label for="name">Nombre</label>
      <input name="name" type="text" value="{{user.name}}" class="form-control {{#if error.name }}is-invalid{{/if}}"
        id="name" required>

      {{#if error.name}}
      <div class="invalid-feedback">
        {{error.name.message}}
      </div>
      {{/if}}
    </div>

    {{#if (isStablishment type)}}

 <div class="form-group">
    <label for="category">Tipo de establecimiento</label>
    <select class="form-control" id="category" name="category">
      <option value="Cafetería">Cafetería</option>
      <option value="Restauración">Restauración</option>
      <option value="Cervecería">Cervecería</option>
      <option value="Ocio Nocturno">Ocio Nocturno</option>
      <option value="Espectáculos">Espectáculos</option>
    </select>
  </div>





    <div class="form-group">
      <label for="name">Dirección</label>
      <input id="address" type="textbox" value="" class="form-control" />
      <input id="submit" type="button" placeholder="Validar dirección" value="Validar dirección"
        class="form-control button" />
      <div id="map"></div>

      <input name="addressnew" type="text" class="form-control {{#if error.name }}is-invalid{{/if}}" id="addressnew"
        required>

      {{#if error.addressnew}}
      <div class="invalid-feedback">
        {{error.name.addressnew}}
      </div>
      {{/if}}
    </div>
    <div class="form-group" style="display: none">
      <label for="name">LatLong</label>
      <input name="latlong" type="text" class="form-control {{#if error.name }}is-invalid{{/if}}" id="latlong" required>

      {{#if error.addressnew}}
      <div class="invalid-feedback">
        {{error.name.addressnew}}
      </div>
      {{/if}}
    </div>

    {{/if}}

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" value="{{user.email}}" class="form-control {{#if error.email }}is-invalid{{/if}}" id="email"
        name="email" placeholder="email" required>

      {{#if error.email}}
      <div class="invalid-feedback">
        {{error.email.message}}
      </div>
      {{/if}}
    </div>

        {{#if (isStablishment type)}}

    <div class="form-group">
      <label for="email">Email de contacto</label>
      <input type="email" value="{{user.contactEmail}}"
        class="form-control {{#if error.constacEmail }}is-invalid{{/if}}" id="contact-email" name="contact-email"
        placeholder="email de contacto" required>

      {{#if error.contactEmail}}
      <div class="invalid-feedback">
        {{error.contactEmail.message}}
      </div>
      {{/if}}
    </div>

    <div class="form-group">
      <label for="name">Teléfono</label>
      <input name="telephone" type="tel" value="{{user.telephone}}"
        class="form-control {{#if error.telephone }}is-invalid{{/if}}" id="telephone" required>

      {{#if error.telephone}}
      <div class="invalid-feedback">
        {{error.telephone.message}}
      </div>
      {{/if}}
    </div>
    {{/if}}

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control {{#if error.password }}is-invalid{{/if}}" id="password"
        name="password">

      {{#if error.password}}
      <div class="invalid-feedback">
        {{error.password.message}}
      </div>
      {{/if}}
    </div>

    <div class="form-group">
      <label for="bio">Bio</label>
      <textarea rows="5" type="text" class="form-control {{#if error.bio }}is-invalid{{/if}}" name="bio"
        id="bio">{{user.bio}}</textarea>

      {{#if error.bio}}
      <div class="invalid-feedback">
        {{error.bio.message}}
      </div>
      {{/if}}
    </div>

    <div class="form-group">
      <label for="avatar">Avatar</label>
      <input type="file" class="form-control-file {{#if error.avatar }}is-invalid{{/if}}" id="avatar" name="avatar">

      {{#if error.avatar}}
      <div class="invalid-feedback">
        {{error.avatar.message}}
      </div>
      {{/if}}
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>


    {{#unless (isStablishment type)}}
    <div class="socil-login">
      <p>Registrate con:</p>

      <div class="d-flex mb-3 justify-content-around">
        <a href="/auth/facebook" class="btn btn-secondary"><i class="fa fa-facebook"></i> Facebook</a>
        <a href="/auth/google" class="btn btn-secondary"><i class="fa fa-google"></i> Google</a>
      </div>
  </form>

  {{/unless}}




  </div>
<script src="/js/maps.js"></script>


</article>