<div class="card">
  <img src="{{stablishment.avatar}}" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title"><a href="/stablishments/{{stablishment._id}}" class="text-dark">{{stablishment.name}}</a>
    </h5>
    <p class="card-text">
      {{stablishment.bio}}
    </p>

    <a href="{{stablishment.url}}" class="btn btn-primary btn-sm" target="_blank">
      <i class="fa fa-globe mr-1"></i>Stablishment Web
    </a>

   <button type="button" class="btn-sm btn btn-outline-danger" data-like-project="{{project.id}}">
      <i class="fa fa-heart mr-1"></i>
      <span class="likes-count">{{project.likes}}</span>
      Likes
    </button>
  </div>

  <div>
    {{stablishment.comments}}
  </div>

  <div>
    {{!-- {{stablishment.comments}} --}}
  </div>



<div id="map"></div>


<script>
  var decodedJson = decodeURIComponent("{{{pointsJSON}}}");
  var jsonObj = JSON.parse(decodedJson);
  window.points = jsonObj;
</script>

  {{!-- <div class="card-footer">
    <small class="text-muted">{{date project.createdAt}}</small>
  </div> --}}
</div>