<div class="card">
  <img src="{{stablishment.avatar}}" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title"><a href="/stablishments/{{stablishment._id}}" class="text-dark">{{stablishment.name}}</a>
      <button type="button" class="btn-sm btn float-right" data-like-stablishment="{{stablishment._id}}">
        <i class="fa fa-heart mr-1"></i>
        <span class="likes-count">{{stablishment.likes}}</span>
        Likes
      </button>
    </h5>
    <h6 class="little-title">Categoría: </h6>
    <p>{{stablishment.category}}</p>

    <h6 class="little-title">Descripción</h6>
    <p>{{stablishment.bio}}</p>

  </div>

</div>