<div class="card">
  <img src="{{stablishment.avatar}}" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title"><a href="/stablishments/{{stablishment._id}}" class="text-dark">{{stablishment.name}}</a>    <button type="button" class="btn-sm btn float-right" data-like-stablishment="{{stablishment._id}}">
      <i class="fa fa-heart mr-1"></i>
      <span class="likes-count">{{stablishment.likes}}</span>
      Likes
    </button>
    </h5>
    <p class="card-text">
      {{stablishment.bio}}
    </p>

    {{!-- <a href="{{stablishment.url}}" class="btn btn-primary btn-sm" target="_blank">
      <i class="fa fa-globe mr-1"></i>Stablishment Web
    </a> --}}




<h6 class="little-title">Bio</h6>
    <p>{{stablishment.bio}}</p>


      {{#if stablishment.comments}}
<h6 class="little-title">Comments</h6>

    {{#each stablishment.comments as |comment|}}
    <div class="comment">
      
      {{comment.text}}
    </div>
    {{/each}}

  {{/if}}




  </div>


  <div>
    {{!-- {{stablishment.comments}} --}}
  </div>


  {{!-- marta --}}

  {{!-- <div>

    <div id="floating-panel">
      <script>
        "use strict";
        function initMap() {
          var myLatLng = { lat: {{ stablishment.location.lat }
        }, lng: { { stablishment.location.lng } },};
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 8,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
        });
          } 
      </script>
    </div>
    <div id="map"></div>
  </div> --}}


  {{!-- <div class="card-footer">
    <small class="text-muted">{{date project.createdAt}}</small>
  </div> --}}
</div>